/*
  FONT WEIGHT TABLE
  100: Thin (Hairline)
  200: Extra Light (Ultra Light)
  300: Light
  400: Regular
  500: Medium
  600: Semi Bold (Demi Bold)
  700: Bold
  800: Extra Bold (Ultra Bold)
  900: Black (Heavy)
 */
@font-face {
  font-family: "Staatliches";
  src: url("../assets/fonts/Staatliches/Staatliches-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Ubuntu";
  src: url("../assets/fonts/Ubuntu/Ubuntu-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Ubuntu Medium";
  src: url("../assets/fonts/Ubuntu/Ubuntu-Medium.ttf") format("opentype");
}
.hatchets-img_box {
  font-size: 0;
}
.hatchets-img_box img {
  width: 100%;
}

.hatchets-section_box {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}
.hatchets-section_box_shorter {
  max-width: 1296px;
}

.hatchets-wrapper {
  background: #000;
  min-height: 100vh;
  overflow: hidden;
}

.hatchets-heading {
  font-size: 24px;
  color: #fff;
  line-height: 28px;
  font-weight: 500;
  font-family: "Ubuntu Medium";
  text-transform: uppercase;
  margin: 0;
}
.hatchets-heading_dot {
  padding-left: 20px;
  position: relative;
}
.hatchets-heading_dot::before {
  content: "";
  background: #ECBF24;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  position: absolute;
  left: 0;
  top: 9px;
}

.hatchets-diamond {
  border-style: solid;
  border-color: #ECBF24;
  border-width: 0;
  position: relative;
}
.hatchets-diamond::before {
  content: "";
  width: 4.07px;
  height: 4.07px;
  background: #ECBF24;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
}
.hatchets-diamond::after {
  content: "";
  width: 4.07px;
  height: 4.07px;
  background: #ECBF24;
  transform: rotate(45deg);
  position: absolute;
  bottom: 0;
}

.hatchets-checkmark {
  position: relative;
  padding-left: 22px;
}
.hatchets-checkmark::before {
  content: "";
  background: url("../assets/images/svg/checkmark.svg") no-repeat 50% 50%;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 11px;
  left: -10px;
  transform: translateY(-50%);
}

.hatchets-list {
  margin: 0;
  padding: 0 0 0 20px;
  border-left-width: 1px;
}
.hatchets-list::before {
  left: -2.5px;
}
.hatchets-list::after {
  left: -2.5px;
}
.hatchets-list__item {
  margin: 30px 0;
  list-style: none;
}

.hatchets-text {
  font-size: 18px;
  color: #fff;
  line-height: 31px;
  font-weight: 400;
  font-family: "Ubuntu";
  margin: 0;
}

.hatchets-button {
  outline: none;
  background: transparent;
  border: 1px solid #ECBF24;
  border-radius: 50px;
  transition: 0.5s;
  padding: 22px 90px;
}
.hatchets-button__text {
  font-size: 18px;
  color: #fff;
  line-height: 30px;
  font-weight: 500;
  font-family: "Ubuntu Medium";
}
.hatchets-button:hover {
  background: #ECBF24;
  box-shadow: 0px 20px 35px rgba(236, 191, 36, 0.2);
  transition: 0.7s;
}

button {
  cursor: pointer;
  border: none;
}

body {
  margin: 0;
}

.hatchets-header {
  background: url("../assets/images/png/header-background.png") no-repeat 47% 0%;
  padding: 722px 0 25px;
}
.hatchets-header__content {
  background: url("../assets/images/svg/champ-throw.svg") repeat-x 119% 100%;
  position: relative;
  z-index: 5;
}
.hatchets-header__man {
  width: 1408px;
  position: absolute;
  top: 100%;
  left: -26%;
  transform: translateY(-97%);
  z-index: 10;
  target-position: inherit;
}
.hatchets-header__projector {
  width: 1287px;
  position: absolute;
  top: 100%;
  right: -11%;
  transform: translateY(-100%);
  z-index: 0;
}
.hatchets-header__box {
  position: relative;
  z-index: 15;
}
.hatchets-header__title {
  font-size: 144px;
  color: #fff;
  line-height: 178px;
  font-weight: 400;
  font-family: "Staatliches";
  margin: 0;
}
.hatchets-header__subtitle {
  font-size: 24px;
  color: #000;
  line-height: 27px;
  font-weight: 400;
  font-family: "Ubuntu";
  display: inline-block;
  margin: 0;
  padding: 10px;
  background: #ECBF24;
}

.hatchets-about {
  padding: 44px 0 9px;
}
.hatchets-about__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.hatchets-about__box::before {
  content: "";
  background: url("../assets/images/svg/circle-dark.svg") no-repeat 50% 50%/cover;
  width: 223px;
  height: 223px;
  position: absolute;
  bottom: 34%;
  left: -22%;
}
.hatchets-about__description {
  max-width: 710px;
  width: 100%;
  margin: 15px 0 60px;
}
.hatchets-about__item:first-child {
  margin-top: 15px;
}
.hatchets-about__title {
  font-size: 24px;
  color: #ECBF24;
  line-height: 28px;
  font-weight: 500;
  font-family: "Ubuntu Medium";
  margin: 0 0 10px;
}
.hatchets-about__text {
  line-height: 21px;
}
.hatchets-about__image {
  transform: translate(8%, 2%);
  max-width: 691px;
  width: 100%;
}

.hatchets-purpose {
  padding: 126px 0 0;
  background: url("../assets/images/png/purpose-background.png") no-repeat 50% 50%/cover;
}
.hatchets-purpose__heading {
  margin-bottom: 35px;
}
.hatchets-purpose__text {
  line-height: 21px;
}
.hatchets-purpose__contain {
  background: url("../assets/images/svg/champ-throw.svg") repeat-x 228% 100%;
  min-height: 224px;
  margin-top: 174px;
  position: relative;
  z-index: 5;
}
.hatchets-purpose__phone {
  max-width: 481px;
  width: 100%;
  position: absolute;
  top: -37%;
  left: 0;
  z-index: 10;
}
.hatchets-purpose__hatchets {
  max-width: 1633px;
  width: 100%;
  position: absolute;
  top: -100%;
  right: -16%;
  z-index: 10;
  transform: translateY(-39%);
}

.hatchets-steps {
  position: relative;
  z-index: 10;
  padding: 100px 0 95px;
}
.hatchets-steps__box {
  max-width: 1427px;
  width: 100%;
}
.hatchets-steps__heading {
  max-width: 1190px;
  width: 100%;
  margin: 0 auto 112px;
}
.hatchets-steps__dots {
  max-width: 975px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 80px;
}
.hatchets-steps__dot {
  background: transparent;
  padding: 10px 48px;
  font-size: 24px;
  color: #fff;
  line-height: 27px;
  font-weight: 500;
  font-family: "Ubuntu Medium";
}
.hatchets-steps__dot_active {
  color: #ECBF24;
  border-bottom-width: 1px;
}
.hatchets-steps__dot_active::after {
  top: auto;
  bottom: -2.5px;
  right: -2.5px;
}
.hatchets-steps__dot_active::before {
  top: auto;
  bottom: -2.5px;
  left: -2.5px;
}
.hatchets-steps__view {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hatchets-steps__button {
  background: transparent;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}
.hatchets-steps__button path {
  fill: #464646;
  transition: 0.5s;
}
.hatchets-steps__button:hover path {
  fill: #fff;
  transition: 0.7s;
}
.hatchets-steps__button_active path {
  fill: #fff;
}
.hatchets-steps__slider {
  display: flex;
  justify-content: space-between;
  max-width: 995px;
  width: 100%;
}
.hatchets-steps__slide {
  max-width: 300px;
  filter: drop-shadow(0px 15px 50px rgba(236, 191, 36, 0.25));
  border-radius: 10px;
}
.hatchets-steps__halo {
  max-width: 1180px;
  width: 100%;
  margin: 99px auto 0;
}

.hatchets-art {
  padding: 137px 0 73px;
}
.hatchets-art__heading {
  margin-bottom: 80px;
}
.hatchets-art__section {
  margin-top: 25px;
}
.hatchets-art__section_premium {
  max-width: 1401px;
  width: 100%;
  margin: 25px 0 0 auto;
  text-align: right;
}
.hatchets-art__section_premium .hatchets-art__view_circle::before {
  content: "";
  background: url("../assets/images/svg/circle-dark.svg") no-repeat 50% 50%/cover;
  width: 415px;
  height: 415px;
  position: absolute;
  bottom: -20%;
  right: -25%;
  left: auto;
  z-index: -1;
}
.hatchets-art__section_premium .hatchets-art__description {
  margin: 0 30px 0 0;
  text-align: left;
}
.hatchets-art__section_premium .hatchets-art__gallery {
  max-width: 815px;
  padding: 0 0 0 6px;
  border-right-width: 0;
  border-left-width: 1px;
}
.hatchets-art__section_premium .hatchets-art__gallery:before {
  top: -2.5px;
  right: auto;
  left: -2.5px;
}
.hatchets-art__section_premium .hatchets-art__gallery:after {
  right: auto;
  bottom: -2.5px;
  left: -2.5px;
}
.hatchets-art__section_premium .hatchets-art__image {
  margin: 5px 0 5px 25px;
}
.hatchets-art__title {
  font-size: 24px;
  color: #ECBF24;
  line-height: 27px;
  font-weight: 500;
  font-family: "Ubuntu Medium";
  display: inline-block;
  margin: 0 0 55px;
  position: relative;
  z-index: 10;
}
.hatchets-art__title_halo::after {
  content: "";
  background: url("../assets/images/svg/art-halo.svg") no-repeat 50% 50%;
  width: 508px;
  height: 779px;
  position: absolute;
  top: 40%;
  right: 50%;
  transform: translateX(50%);
}
.hatchets-art__view {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 0;
}
.hatchets-art__view_circle::before {
  content: "";
  background: url("../assets/images/svg/circle.svg") no-repeat 50% 50%/cover;
  width: 415px;
  height: 415px;
  position: absolute;
  bottom: 3%;
  left: -23%;
  z-index: -1;
}
.hatchets-art__gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-shrink: 0;
  max-width: 978px;
  width: 100%;
  padding-right: 6px;
  border-right-width: 1px;
}
.hatchets-art__gallery:before {
  top: -2.5px;
  right: -2.5px;
}
.hatchets-art__gallery:after {
  right: -2.5px;
  bottom: -2.5px;
}
.hatchets-art__image {
  max-width: 138px;
  width: 100%;
  margin: 5px 25px 5px 0;
}
.hatchets-art__description {
  margin: 0 0 0 30px;
}

.hatchets-animate {
  padding: 71px 0 93px;
}
.hatchets-animate__box {
  position: relative;
}
.hatchets-animate__box::after {
  content: "";
  background: url("../assets/images/png/animate-section/blot.png") no-repeat 50% 50%;
  width: 725px;
  height: 730px;
  position: absolute;
  bottom: -30%;
  right: -24%;
}
.hatchets-animate__description {
  max-width: 650px;
  width: 100%;
  position: relative;
  z-index: 10;
}
.hatchets-animate__description::before {
  content: "";
  background: url("../assets/images/png/animate-section/blot-shadow.png") no-repeat 50% 50%;
  width: 1318px;
  height: 1317px;
  position: absolute;
  top: -100%;
  left: -100%;
  transform: translate(-20%, -19%);
  z-index: -1;
}
.hatchets-animate__text {
  margin-top: 30px;
}
.hatchets-animate__gallery {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  z-index: 0;
}
.hatchets-animate__gif {
  max-width: 387px;
}
.hatchets-animate__gif_hen {
  transform: translate(-13%, 13%);
}
.hatchets-animate__gif_woman {
  transform: translate(-5%, -8%);
}
.hatchets-animate__gif_knight {
  transform: translate(6%, -9%);
}
.hatchets-animate__gif_hero {
  transform: translate(16%, 14%);
}
.hatchets-animate__gif_pumpkin {
  transform: translate(21%, -8%);
}

.hatchets-project {
  padding-top: 80px;
  position: relative;
  z-index: 10;
}

.hatchets-mobile {
  padding: 1px 0 54px;
}
.hatchets-mobile__title {
  color: #ECBF24;
  text-transform: inherit;
  margin: 86px 0 26px;
  padding-left: 37px;
}
.hatchets-mobile__title::before {
  width: 7px;
  height: 7px;
  left: 13px;
  top: 10px;
}
.hatchets-mobile__text {
  max-width: 419px;
}
.hatchets-mobile__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.hatchets-mobile__card {
  text-align: center;
  margin: 41px 290px 65px 0;
  max-width: 519px;
}
.hatchets-mobile__card:nth-child(3n) {
  margin-right: 0;
}
.hatchets-mobile__card:last-child {
  margin-right: 0;
}
.hatchets-mobile__name {
  line-height: 21px;
  display: inline-block;
  margin-bottom: 26px;
  text-align: left;
  position: relative;
}
.hatchets-mobile__screen {
  display: inline-block;
  max-width: 170px;
  filter: drop-shadow(0px 35px 25px rgba(0, 0, 0, 0.25));
  position: relative;
  z-index: 0;
}
.hatchets-mobile__screen::before {
  content: "";
  background: url("../assets/images/png/screen-halo.png") no-repeat 50% 50%;
  width: 462px;
  height: 446px;
  position: absolute;
  bottom: -45%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.hatchets-admin {
  padding: 0 0 44px;
}
.hatchets-admin__title {
  color: #ECBF24;
  text-transform: inherit;
  margin: 0 0 26px;
  padding-left: 37px;
}
.hatchets-admin__title::before {
  width: 7px;
  height: 7px;
  left: 13px;
  top: 10px;
}
.hatchets-admin__text {
  max-width: 421px;
  width: 100%;
}
.hatchets-admin__list {
  margin: 72px 0 116px;
}
.hatchets-admin__item {
  line-height: 21px;
  display: inline-block;
  margin: 0 53px 0 0;
  padding-left: 25px;
  text-align: left;
}
.hatchets-admin__admin {
  min-height: 553px;
  width: 100%;
  position: relative;
}
.hatchets-admin__image {
  position: absolute;
  top: 0;
}
.hatchets-admin__image_statistic {
  max-width: 582px;
  left: -6.5%;
}
.hatchets-admin__image_data {
  max-width: 598px;
  top: 12%;
  left: 28.5%;
}
.hatchets-admin__image_laptop {
  max-width: 720px;
  top: -65%;
  right: -17%;
}

.hatchets-projector {
  padding: 57px 0 69px;
}
.hatchets-projector__heading {
  color: #ECBF24;
  text-transform: inherit;
  margin-bottom: 24px;
  position: relative;
}
.hatchets-projector__heading::before {
  content: "";
  background: url("../assets/images/png/sphere.png") no-repeat 50% 50%/cover;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  position: absolute;
  left: -9.5%;
  top: -132%;
}
.hatchets-projector__text {
  max-width: 440px;
  width: 100%;
}
.hatchets-projector__data {
  display: flex;
  justify-content: space-between;
  margin-top: 95px;
}
.hatchets-projector__image {
  max-width: 850px;
  width: 100%;
  position: relative;
}
.hatchets-projector__image::after {
  content: "";
  background: url("../assets/images/png/forester-two.png") no-repeat 50% 50%;
  width: 460px;
  height: 424px;
  position: absolute;
  bottom: 0;
  left: -9%;
}
.hatchets-projector__about {
  max-width: 489px;
  width: 100%;
  padding-top: 38px;
  position: relative;
}
.hatchets-projector__about::after {
  content: "";
  background: url("../assets/images/png/projector-two.png") no-repeat 50% 50%;
  width: 756px;
  height: 414px;
  position: absolute;
  right: 29%;
  bottom: 5%;
}
.hatchets-projector__title {
  line-height: 21px;
  color: #ECBF24;
  display: inline-block;
  margin-bottom: 19px;
  padding-left: 0;
  text-align: left;
  text-transform: inherit;
}
.hatchets-projector .hatchets-checkmark::before {
  left: -34px;
}

.hatchets-look {
  padding: 68px 0 74px;
}
.hatchets-look__heading {
  text-transform: inherit;
  color: #ECBF24;
  padding-left: 35px;
}
.hatchets-look__heading::before {
  top: 13px;
  left: 2px;
}
.hatchets-look__field {
  display: flex;
  margin-top: 75px;
}
.hatchets-look__media {
  width: 424px;
  height: 555px;
  border: 1px dashed rgba(236, 191, 36, 0.5);
}
.hatchets-look__video {
  margin-right: 54px;
}

.hatchets-technologies {
  padding: 74px 0 97px;
}
.hatchets-technologies__programs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1090px;
  width: 100%;
}
.hatchets-technologies__image {
  width: 33.3333333333%;
  text-align: center;
  margin: 50px 0;
}

.hatchets-teem {
  padding: 97px 0 85px;
}
.hatchets-teem__gallery {
  display: flex;
  flex-wrap: wrap;
}
.hatchets-teem__card {
  text-align: center;
  margin: 100px 120px 0 0;
}
.hatchets-teem__image {
  max-width: 146px;
  width: 100%;
  display: inline-block;
}
.hatchets-teem__name {
  font-size: 24px;
  color: #fff;
  line-height: 28px;
  font-weight: 500;
  font-family: "Ubuntu Medium";
  margin: 25px 0 20px;
}
.hatchets-teem__position {
  font-size: 18px;
  color: #fff;
  line-height: 20px;
  font-weight: 400;
  font-family: "Ubuntu";
  margin: 25px 0 20px;
}

.hatchets-reviews {
  padding: 85px 0 54px;
  background: url("../assets/images/svg/champ-throw.svg") repeat-x 50% 50%;
  position: relative;
}
.hatchets-reviews::after {
  content: "";
  background: url("../assets/images/png/purpose-hatchets.png") no-repeat 50% 50%/cover;
  width: 893px;
  height: 893px;
  position: absolute;
  top: -95%;
  right: -13%;
}
.hatchets-reviews__text {
  max-width: 1013px;
  width: 100%;
  margin-top: 15px;
}

.hatchets-footer {
  padding: 192px 0 201px;
  text-align: center;
  position: relative;
  z-index: 0;
}
.hatchets-footer::after {
  content: "";
  background: url("../assets/images/svg/art-halo.svg") no-repeat 50% 50%/cover;
  width: 615px;
  height: 800px;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  z-index: -1;
}
.hatchets-footer__heading {
  display: inline-block;
}
.hatchets-footer__text {
  max-width: 838px;
  margin: 15px auto 30px;
}
.hatchets-footer__contacts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 605px;
  margin: 0 auto;
}
.hatchets-footer__icon {
  display: inline-block;
  vertical-align: middle;
  width: 46px;
  margin-right: 21px;
}
.hatchets-footer__data {
  font-size: 24px;
  color: #fff;
  line-height: 41px;
  font-weight: 500;
  font-family: "Ubuntu Medium";
  display: inline-block;
  vertical-align: middle;
}
.hatchets-footer__button {
  margin-top: 50px;
}